<div class="container">
    <mat-card style="background-color: #EFF5F4; margin-top: 100px; padding: 5% 10%;">
        <mat-card-content>
            <div class="row">
                <h1>Time</h1>
            </div>
            @for (item of data; track item) {
                <div class="row">
                    <div class="custom-row">
                        <div class="avatar">A</div>
                        <div>
                            <div style="margin: 5px 0px;">{{item.action}}</div>
                            <div style="margin-bottom: 5px;">{{item.date}}</div>
                        </div>
                    </div>
                </div>
            }
            <div class="row justify-content-end">
                <button class="add-time" (click)="goAdd()">Add Time</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
