<div class="container">
    <mat-card style="background-color: #EFF5F4; margin-top: 100px; padding: 5% 10%;">
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <h1 style="text-align: center;">¡Hello!</h1>
                    <div class="col-6">
                        <div style="display: flex; justify-content: center;">
                            <img src="../../assets/3d_avatar_25.png" alt="" srcset="">
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 5px;">
                            <button (click)="goReports()" style="color: white;" mat-button>See your reports</button>
                        </div>

                    </div>
                    <div class="col-6">
                        <div style="display: flex; justify-content: center;">
                            <img src="../../assets/3d_avatar_26.png" alt="" srcset="">
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 5px;">
                            <button (click)="goTimes()" style="color: white;" mat-button>Schedule time</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
